.x-treelist-nav .x-treelist-item-text {
    line-height: 35px;
    
}
.x-treelist-nav .x-treelist-item-icon:before, .x-treelist-nav .x-treelist-item-tool:before, .x-treelist-nav .x-treelist-item-expander {
    line-height: 35px;
    width: 100px;
}

.x-panel-body-default .logo-caption  {
    background-color: #32404e;
    color: #fff;
} 

.x-panel-body-default .logo-image  {
    background-color: #32404e;
}

/* .main-menu-detail {
    height: 100%;
} */

.main-menu-detail .x-tab-close-btn {
        background-image: url("/files/img/Close.png");
        background-size: 14px auto;
        background-repeat: no-repeat;
        background-position: -1px 2px !important;
        width: 14px;
        height: 14px;
}

/* .main-tree-menu {
    z-index: 19000;
} */





