<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="FlaskFastCGI" />
            <add name="Flask" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\ISSPython312\python.exe|c:\ISSPython312\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security> 
            <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
        </security>
        <defaultDocument>
            <files>
                <remove value="Customer.dll" />
                <add value="reset.py" />
            </files>
        </defaultDocument> 
    </system.webServer>
       <appSettings>
        <!-- Required settings -->
        <add key="WSGI_LOG" value="C:\logs\password_reset_iis.log" />
        <add key="WSGI_HANDLER" value="reset.app" />
        <add key="PYTHONPATH" value="~/" />
    </appSettings>
</configuration>