<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security> 
            <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
        </security>
        <defaultDocument>
            <files>
                <remove value="Customer.dll" />
                <add value="confirmed.py" />
            </files>
        </defaultDocument> 
    </system.webServer>
       <appSettings>
        <!-- Required settings -->
        <add key="WSGI_LOG" value="C:\logs\user_registration_iis.log" />
        <add key="WSGI_HANDLER" value="confirmed.app" />
        <add key="PYTHONPATH" value="~/" />
    </appSettings>
</configuration>