/*для всех таблиц по умолчанию*/
/* вид чекбоксов в гриде */
.x-item-disabled .x-grid-checkcolumn {
    opacity: 1 !important;
}

/* таблица заказов */
/* Перенос строки в заголовке таблицы заказов */
.grid-order .x-column-header-inner .x-column-header-text {
    white-space: normal;
    text-align: center;
}

/* Стрелка номера детали замены*/
.grid-order .x-replacement-detail-number-arrow{
    line-height: 0.0; 
    color: #4183C4;
    text-align: left
}

/* Номер детали замены*/
.grid-order .x-replacement-detail-number{
    line-height: 0.0; 
    color: #4183C4;
    text-align: left
}

/* Стрелка бренд замены*/
.grid-order .x-replacement-make-logo-arrow{
    line-height: 0.0; 
    color: #4183C4;
    text-align: left
}

/* Бренд замены*/
.grid-order .x-replacement-make-logo{
    line-height: 0.0; 
    color: #4183C4;
    text-align: left
}

/* Стрелка производитель замены*/
.grid-order .x-replacement-manufacturer-arrow{
    line-height: 0.0; 
    color: #4183C4;
    text-align: left
}

/* Производитель замены*/
.grid-order .x-replacement-manufacturer{
    line-height: 0.0; 
    color: #4183C4;
    text-align: left
}

/* Цена замены*/
.grid-order .x-replacement-price-arrow{
    line-height: 0.0; 
    color: #c45b41;
    text-align: left
}

.grid-order .x-replacement-price{
    line-height: 0.0; 
    color: #c45b41;
    text-align: left
}

/* таблица форматов загрузки заказов на форме редактирования клентов */
.grid-clients-file-format .x-column-header-inner .x-column-header-text {
    white-space: normal;
    text-align: center;
}

/* таблица пользователи*/
.grid-users .x-column-header  {
    vertical-align: middle; 
    /* border: 3px red;             */
    /* border-radius: 7px;             */
    padding: 0em;
    text-align: center;             
    color: black;  
}
    
.grid-users .x-grid-item-selected .x-grid-cell {
    border: 3px red;            
    background-color:#FFFFE0!important;
    color:#00008B!important;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid ;
    border-bottom: 1px solid ;  
    border-right-color:#cce5ff !important;
    border-top-color: #cce5ff !important;
    border-bottom-color:#cce5ff !important;
    border-left-color: #cce5ff !important;
    border-radius: 7px;
    padding: 0px;
}

.grid-users .x-column-header-inner .x-column-header-text {
    white-space: normal;
    text-align: center;
}