/*для всех таблиц по умолчанию*/
/* вид чекбоксов в гриде */
.x-item-disabled .x-grid-checkcolumn {
    opacity: 1 !important;
}


/* Перенос строки в заголовке таблицы планировщика */
.grid-task .x-column-header-inner .x-column-header-text {
    white-space: normal;
    text-align: center;
}
