
/* twInstrument - дерево на форме инструменты */
.twInstrument .x-tree-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.twInstrument .x-tree-elbow-img {
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.twInstrument .x-tree-node-text {
     line-height: 24px;
}

/* Кнопка отменить действие на форме заказа */
 .btn-order-action-undo{
  background-color: #ebbdae;
}

.btn-order-action-undo:hover {
  background-color: #E9967A;
}

.btn-order-action-undo.x-pressing {
  background-color: #eebeaf;
} 


/* Кнопка выполнить действие на форме заказа */
.btn-order-action-execute {
  background-color: hwb(139 71% 7%);
}

.btn-order-action-execute:hover {
  background-color: #8bee98;
}

.btn-order-action-execute.x-pressing {
  background-color: hwb(140 69% 9%);
} 


fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


/****** Стиль для отображения рейтинга доставки на форме редактирования детали/заказа *****/
.ratingprc { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating { 
  border: none;
  float: left;
}
.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}.rating > .half:before { 
  content: "\f089";
  position: absolute;
}.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/
 .rating > input:checked ~ label /* show gold star when clicked */
/* .rating:not(:checked) > label:hover,*/ /* hover current star */
/* .rating:not(:checked) > label:hover ~ label */{ color: #FFD700;  } /* hover previous stars in list */

/* .rating > input:checked + label:hover,*/ /* hover current star when changing rating */
/* .rating > input:checked ~ label:hover,*/
/* .rating > label:hover ~ input:checked ~ label, *//* lighten current selection */
/* .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } */



/* .uni-popup {
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.uni-popup a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.uni-popup a:hover {
  background-color: #ddd;
}

.uni-popup.show {
  display: block;
} */

/* .editor-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1470px;
}

.editor-editor { 
  margin-top: 50px;
  width: 100%;

} */

/* Инструкции  */
.lblArticle {
  color: #172B4D;
  font-size: 28px;
}