.x-treelist-nav .x-treelist-item-text {
    line-height: 35px;
}
.x-treelist-nav .x-treelist-item-icon:before, .x-treelist-nav .x-treelist-item-tool:before, .x-treelist-nav .x-treelist-item-expander {
    line-height: 35px;
}

.logo-caption  {
    background-color: #32404e;
    color: #fff;
} 

.user-label {
    color: #fff;
    font: normal 10px tahoma, arial, helvetica, sans-serif;
} 

.logo-btn-exit {
    border-color: #32404e ;
    background-color: #32404e ;
}

.logo-btn-exit .x-btn-inner {
    overflow: visible !important;
    font: normal 10px tahoma, arial, helvetica, sans-serif;
}

.logo-btn-exit .x-btn-inner-default-medium {
    color: #fff;
    padding: 0 0px !important;
    max-width: 100%;
} 

.main-menu-detail .x-tab-close-btn {
        background-image: url("/files/img/Close.png");
        background-size: 14px auto;
        background-repeat: no-repeat;
        background-position: -1px 2px !important;
        width: 14px;
        height: 14px;
}





